.container {
    width:750px;
    margin:20px auto;
}

body {
    margin: 0;
    padding:0;
}

#map-canvas {
    height: 300px;
    width:100%;
    margin: 0px;
    padding: 0px
}

.reservation-form, .status-form {
    margin-top:20px;
}

.input-daterange input {
    text-align: left;
}

.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active {
    background-color: #18BC9C;
    border-color: #18BC9C;
}

.reservation-table > tbody > tr > td {
    border-top: 1px solid #dddddd;
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.broken {
    text-align:center;
}

.label {
     color: black;
     text-shadow:
     -1px -1px 0 #fff,
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
     1px 1px 0 #fff;
     font-size: 9px;
     text-align:center;
     width: 60px;
     white-space: nowrap;
}
